$WHITE: #FFFFFF;
$BLACK: #000000;
$LIGHT-CYAN: #DDFFF7;
$PEARL-AQUA: #86CDC5;
$PALE-ROBIN-EGG-BLUE: #93E1D8;
$SPACE-CADET: #18325B;
$PLATINUM: #E2E5E8;

$ISABELLINE: #E8EBED;

$theme-color: $PEARL-AQUA;
$body-background: $LIGHT-CYAN;
$border-color: $PLATINUM;
