.video-page {
  background-color: #E1F6F4;

}

.back-button {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
  padding: 20px 40px 10px 40px;
  &:hover {
    cursor: pointer;
    -webkit-animation: back-button-move 1.5s infinite; /* Safari 4.0 - 8.0 */
    animation: back-button-move 1.5s infinite;
  }
  &-link {
    line-height: 30px;
    vertical-align: baseline;
    font: {
      size: 18px;
    }
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes back-button-move {
    from {left: 0px;}
    to {left: -8px;}
}

@keyframes back-button-move {
    from {left: 0px;}
    to {left: -8px;}
}

#video-content {
  .video-content-wrapper {
      position: relative;
      border-radius: 6px;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);

      .video-content-title {
        position: absolute;
        padding: 0 30px;
        top: 0;
        right: 0;
        left: 0;
        height: 60px;
        line-height: 60px;
        border-radius: 6px 6px 0 0;
        background-color: $theme-color;
        z-index: 2;
      }

      .video-player {
        position: relative;
        padding: 60px 0;
        width: 100%;
        background: #fff;

        &-wrapper {
          position: relative;
          padding-bottom: 56.25%;
          height: 0;
        }

        &-window {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $BLACK;
        }
        video {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
  }

  /* ---- Video Player Control Section ---- */
  .video-controls {
    position: absolute;
    bottom: 0px;
    height: 60px;
    right: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    background-color: $theme-color;
    z-index: 2;
  }

  .video-controls .video-controls-wrapper {
    display: inline-flex;
    padding: 0 30px;
    width: 100%;

    .control-item {
      flex-grow: 1;
      height: 60px;
      line-height: 60px;

      button {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 0;
        &:hover {
          background-color: #7ABBB4;
        }
      }

      &.progress-bar {
        flex-grow: 10;
      }
      &.video-time, &.volumn-bar{
        padding: 0 20px;
        flex-grow: 2;
      }
    }
  }

  /* ---- Video Description Section ---- */

  .video-description-section{
    position: relative;
    display: inline-flex;
    padding: 30px 0;
    width: 100%;
    background: $WHITE;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  }

  .flex-item {
    position: relative;
    display: inline-block;
    padding: 60px 60px;
    flex-grow: 1;
  }

  .description.flex-item {
    flex-grow: 2;
  }

  .description.flex-item h2 {
    margin-bottom: 10px;
  }

  .video-info.flex-item {
    border-left: 1px solid #e2e5e8;
    .uploader-info {
      margin-bottom: 30px;
      p {
        margin-bottom: 10px;
        font-size: 11px;
        color: #c0c6d1;
        &.uploader, &.device {
          font-size: 20px;
          color: #000000;
        }
      }
    }
  }

  .map.location-wrapper {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
  }
}
