.explore-page {
  background-color: #E1F6F4;
  .container {
    padding-top: 60px;
    .searchbar-wrapper {
      padding-bottom: 30px;
    }
  }
}

.flex-container {
  display: flex;
  margin: 0 -15px;
  list-style: none;
}

.item-cards .item-cards-wrapper {
  position: relative;
  display: block;
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
  width: 33.3%;
  &:active {
    transform: translateY(4px);
  }
}
