.explore-page {
  background-color: #E1F6F4;
  .container {
    padding-top: 60px;
    .searchbar-wrapper {
      padding-bottom: 30px;
    }
  }
}

.flex-container {
  display: flex;
  margin: 0 -15px;
  list-style: none;
}

.item-cards .item-cards-wrapper {
  position: relative;
  display: block;
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
  width: 33.3%;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: translateX(2px) translateY(4px);
  }
}

.load-more {
  position: relative;
  padding: 10px;
  width: 100%;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: $WHITE;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: translateX(1px) translateY(3px);
  }
  p {
    height: 30px;
    line-height: 30px;
    text-align: center;
    pointer-events: none;
  }
}
